*~
*.la
*.lo
*.a
*.o
*.d
*.swp
*.orig
.deps
.dirstamp
.libs
.stgit-*
.stgitmail.txt
configure
Makefile
Makefile.in
cscope.*
tags
/autom4te.cache
/aclocal.m4
/build-aux
/config.*
/configure
/configure.h*
/libtool
/m4
/stamp-h1
/cov-int
/netlabel_tools-coverity_*.tar.gz
netlabelctl/netlabel-config
netlabelctl/netlabel.service
